@font-face {
  font-family: 'Proxima Nova Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}
@font-face {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
html {
  font-size: 10px;
}
.button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  background-color: #feb404;
}
.button:hover {
  background-color: #dd9c01;
}
.form {
  margin-top: 10rem;
  margin-bottom: 3.6rem;
  padding: 4.6rem 5rem;
  background-color: #ffffff;
}
.form h2 {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 4.2rem;
  text-align: center;
}
.form h2 strong {
  font-family: 'Proxima Nova Bold', sans-serif;
}
.form label {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  display: inline-block;
  padding: 0 .5rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #565656;
  background-color: #ffffff;
}
.form-input {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
  display: block;
  width: 100%;
  height: 5.2rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: .5rem;
}
.form-button {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 6.5rem;
  margin-bottom: 1.5rem;
}
.form p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #565656;
}
/* form*/
input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}
/* Typography */
section {
  padding: 10rem 3rem;
}
.main {
  padding: 3rem 0;
  background: url('../img/main-bg.jpg') center center no-repeat;
  background-size: cover;
}
.main h1 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 4rem;
  margin-top: 10rem;
  text-transform: uppercase;
}
.main .walls {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 2.4rem;
  margin-top: 5rem;
}
.main span {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
  display: inline-block;
  margin-top: 6rem;
  padding: 3rem 4rem;
  color: #ffffff;
  background-color: #70c849;
}
.main span strong {
  font-size: 3rem;
}
.main .trigger {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.2rem;
  margin-top: 3.6rem;
  margin-bottom: 10rem;
  text-transform: uppercase;
}
.main .comment {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.2rem;
  margin-left: 3rem;
  color: #565656;
}
.header {
  height: 7rem;
}
.header-phone {
  text-align: right;
}
.phone_link {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 7rem;
  display: inline-block;
  height: 7rem;
  color: #292929;
}
.phone_link:hover {
  text-decoration: none;
  color: #70c849;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
/* Features section */
.features {
  padding: 10rem 2rem;
  text-align: center;
}
.features h2 {
  margin: 0 0 12rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 3.6rem;
}
.features-block {
  padding: 2rem 0;
}
.features-img img {
  height: 7rem;
}
.features h3 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2rem;
}
.features p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 2rem;
}
.features p a {
  color: #70c849;
}
.slick-active {
  outline: none;
}
.slick-slide img {
  margin: 0 auto;
}
.prev {
  position: absolute;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border: none;
  left: 1rem;
  background: url(../img/left.svg) center no-repeat;
  background-size: 70%;
}
.next {
  position: absolute;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border: none;
  right: 1rem;
  background: url(../img/right.svg) center no-repeat;
  background-size: 70%;
}
/* Modal windows */
.popup {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-header {
  margin: 3.5rem 0 0;
  padding: 0 5rem 0;
}
.popup-content {
  position: fixed;
  text-align: center;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -3rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  color: #ffffff;
}
.popup-form {
  margin: 0;
}
.popup-text {
  height: 9rem;
}
.popup-btn {
  margin-bottom: 0;
}
/* Секция с ценами */
.price {
  background: #70c849 url(../img/price/price-bg.jpg);
  padding: 10rem 1rem;
}
.price-header {
  color: #ffffff;
  text-align: center;
  margin-bottom: 9rem;
}
.price-header h2 {
  margin: 0 0 47px;
}
.price-header p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
}
.price-btn {
  float: right;
  padding: 2.2rem 3rem;
  margin-bottom: 3rem;
}
.price-card {
  -webkit-box-shadow: 0 1.4rem 2.1rem rgba(0, 0, 0, 0.17);
          box-shadow: 0 1.4rem 2.1rem rgba(0, 0, 0, 0.17);
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 3rem;
}
.price-card h4 {
  padding: 5rem 3rem 3.8rem;
  margin: 0;
  min-height: 12.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.9rem;
  color: #1a1820;
}
.price-card img {
  margin-bottom: 3.5rem;
  width: 80%;
  height: auto;
}
.price-card-tag p {
  margin-bottom: 37px;
  font-size: 1.9rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #1a1820;
}
.price-card-tag p span {
  font-size: 3rem;
}
.price-card-ul {
  padding: 0;
  margin-bottom: 2.5rem;
  min-height: 11rem;
}
.price-card-ul li {
  list-style-type: none;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
}
.price-card-ul li::before {
  content: '';
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/price/checked.svg) center no-repeat;
  background-size: cover;
}
.price-card-btn {
  margin-bottom: 45px;
  padding: 2.1rem 2.2rem;
  width: 20.8rem;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
}
/* Section testimonials */
.testimonials {
  position: relative;
  background: url(../img/bg.jpg);
}
.testimonials h2 {
  text-align: center;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 10rem;
}
.testimonials-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5.6rem 6rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.testimonials-btn-prev {
  position: absolute;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
  height: 6rem;
  border: none;
  background-color: #49bf15;
  left: -11rem;
}
.testimonials-btn-prev img {
  width: 30%;
}
.testimonials-btn-next {
  position: absolute;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
  height: 6rem;
  border: none;
  background-color: #49bf15;
  right: -11rem;
}
.testimonials-btn-next img {
  width: 30%;
}
.testimonials-text {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
}
.testimonials-text strong {
  font-family: 'Proxima Nova Bold', sans-serif;
}
.testimonials-text .media {
  margin-bottom: 3rem;
}
.testimonials-text .media p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.4rem;
}
.testimonials-text .media-heading {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.6rem;
}
.testimonials-comment {
  padding: 2rem;
  position: relative;
  border: 2px solid #70c849;
  z-index: 99;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
}
.testimonials-comment::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -3rem;
  left: 4rem;
  border: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #70c849;
  border-left: 1.5rem solid #70c849;
}
.testimonials-comment::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -2.5rem;
  left: 4.2rem;
  border: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #ffffff;
  border-left: 1.5rem solid #ffffff;
}
.testimonials-form {
  position: relative;
  padding: 5rem 11rem;
  text-align: center;
}
.testimonials-form h3 {
  margin-bottom: 5rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.2rem;
}
.testimonials-form::before {
  position: absolute;
  left: -33rem;
  top: 8rem;
  content: "";
  width: 420px;
  height: 360px;
  background: url(../img/testimonials/hand.png) center no-repeat;
  background-size: 100%;
}
.testimonials-button {
  width: 26rem;
}
/* section SCHEME*/
.scheme {
  position: relative;
  text-align: center;
  background: url(../img/scheme/bg.png) bottom right -400px no-repeat;
  padding-bottom: 0;
  color: #1a1820;
}
.scheme-header h2 {
  margin-bottom: 5.5rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 3.6rem;
}
.scheme-header p {
  margin-bottom: 6.5rem;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
}
.scheme-item {
  text-align: left;
}
.scheme-item img {
  height: 9rem;
  margin-bottom: 3.8rem;
}
.scheme-item h3 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}
.scheme-item-p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.7rem;
  min-height: 10rem;
  margin-bottom: 7.5rem;
  max-width: 28rem;
}
/* section ALL-INCLUSIVE */
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive-header {
  text-align: center;
}
.all-inclusive-header h2 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 4.8rem;
  color: #358015;
  margin: 0 0 5rem;
}
.all-inclusive-header p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
  color: #1a1820;
  margin-bottom: 10rem;
}
.circle {
  display: inline-block;
  background-color: #358015;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 4rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2rem;
}
.circle-border {
  display: inline-block;
  border: 2px solid #358015;
  padding: 0.3rem;
  border-radius: 50%;
}
.media-heading {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  line-height: 1.8rem;
}
.media {
  min-height: 12rem;
}
.media-body h4 {
  margin-bottom: 0;
}
.media-body p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
}
/*  Section problems */
.problems {
  position: relative;
}
.problems h2 {
  text-align: center;
  margin-bottom: 9rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.3rem;
}
.problems-item {
  padding: 4.7rem 3.6rem 4.7rem 4.7rem;
  border: 4px solid;
  min-height: 50rem;
  margin-bottom: 2rem;
}
.problems-item h3 {
  margin: 0 0 5.6rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.1rem;
}
.problems-item ul {
  padding: 0;
}
.problems-item ul li {
  position: relative;
  list-style-type: none;
  margin-bottom: 4rem;
  color: #313131;
  padding-left: 4.5rem;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.6rem;
}
.problems-item ul li:last-child {
  margin-bottom: 0;
}
.problems-item ul li:before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 3rem;
  width: 3rem;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  background-color: #333;
}
.problems-bad {
  border-color: rgba(49, 49, 49, 0.5);
}
.problems-bad h3 {
  color: rgba(49, 49, 49, 0.5);
}
.problems-bad ul li:before {
  background: url(../img/problems/cancel-music.svg) center center no-repeat;
  background-size: 70%;
}
.problems-solve {
  border-color: #358015;
}
.problems-solve h3 {
  color: #313131;
}
.problems-solve ul li:before {
  background: url(../img/problems/checked.svg) center center no-repeat;
  background-size: 100%;
}
.problems-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
/* Section CONTACTS */
.contacts {
  position: relative;
  background: url(../img/bg.jpg);
  padding: 8rem 0;
}
.contacts-body h2 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 6rem;
}
.contacts-body p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
}
.contacts-body p strong {
  font-family: 'Proxima Nova Bold', sans-serif;
}
.contacts-addr {
  margin-bottom: 1.5rem;
}
.contacts-map {
  margin-bottom: 2.6rem;
}
.contacts-phone {
  margin-bottom: 3.2rem;
}
.contacts-email {
  margin-bottom: 2.8rem;
}
.contacts-rekv {
  margin-bottom: 5rem;
}
.contacts-form {
  text-align: right;
  z-index: 999;
  margin-top: 0;
}
.contacts-form-header {
  text-align: center;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.contacts-btn {
  font-size: 1.4rem;
}
.contacts:before {
  content: '';
  position: absolute;
  left: 48%;
  bottom: 0;
  width: 349px;
  height: 379px;
  background: url(../img/contacts/machine.png) 0 0 no-repeat;
}
/* Media queries */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-btn {
    font-size: 1rem;
  }
  .problems-item {
    min-height: 60rem;
  }
  .contacts:before {
    left: 35%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-phone {
    text-align: center;
  }
  .header-btn {
    font-size: 1rem;
  }
  .main-title {
    text-align: center;
  }
  .main form {
    margin-top: 0;
  }
  .problems-item {
    min-height: 60rem;
  }
  .problems-girl {
    display: none;
  }
  .contacts:before {
    left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .logo,
  .header-phone {
    text-align: center;
  }
  .header-btn {
    font-size: 1rem;
  }
  .main {
    background-position: top left;
  }
  .main-title {
    text-align: center;
  }
  .main form {
    margin-top: 0;
  }
  .main h1 {
    margin-top: 5rem;
  }
  .testimonials-btn-prev,
  .testimonials-btn-next {
    width: 2rem;
    height: 3rem;
  }
  .testimonials-btn-prev img,
  .testimonials-btn-next img {
    width: 70%;
  }
  .testimonials-btn-prev {
    left: -2rem;
  }
  .testimonials-btn-next {
    right: -2rem;
  }
  .testimonials-wrapper {
    padding: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .testimonials-text {
    margin-top: 2rem;
  }
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .testimonials-button {
    width: 100%;
  }
  .scheme {
    background: none;
  }
  .scheme-item {
    text-align: center;
  }
  .scheme-item img {
    margin-bottom: 2.5rem;
  }
  .scheme-item-p {
    max-width: none;
    min-height: 1rem;
    margin-bottom: 6rem;
  }
  .problems-item {
    min-height: auto;
    padding: 2rem;
  }
  .problems-girl {
    display: none;
  }
  .contacts:before {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .wrap-block {
    text-align: center;
  }
  .features h2 {
    font-size: 2.3rem;
  }
  .price-wrap {
    text-align: center;
  }
  .price-wrap .price-btn {
    float: none;
  }
  .testimonials-form {
    padding: 5rem;
  }
}
@media screen and (max-width: 525px) {
  .main h1 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 500px) {
  .main form {
    padding: 2rem;
  }
  .main form h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 355px) {
  .main h1 {
    font-size: 2rem;
  }
  .features h2 {
    font-size: 1.5rem;
  }
  .features h3 {
    font-size: 1.4rem;
  }
  .features p {
    font-size: 1.2rem;
  }
  .form label {
    padding: 0;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .scheme {
    background: url(../img/scheme/bg.png) bottom right -200px no-repeat;
  }
}
@media (min-width: 1441px) {
  .scheme {
    background: url(../img/scheme/bg.png) bottom right no-repeat;
  }
}
