@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(../img/bg.jpg);
  font-family: 'Myriad Pro', sans-serif;
  font-size: 15px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.wrapper {
  position: relative;
  top: 20%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 630px;
  height: 444px;
}
.wrapper .register {
  -webkit-box-shadow: inset 0 1px 3px #fff;
          box-shadow: inset 0 1px 3px #fff;
  padding: 22px 25px;
  border-radius: 5px;
  border: 1px solid #047ca0;
  background: -webkit-gradient(linear, left top, left bottom, from(#03a6dc), to(#0494bf));
  background: linear-gradient(to bottom, #03a6dc, #0494bf);
  -webkit-box-shadow: 0 0 100px rgba(119, 119, 119, 0.55);
          box-shadow: 0 0 100px rgba(119, 119, 119, 0.55);
  height: 408px;
}
.wrapper .register .wnd {
  padding: 69px 56px 35px 43px;
  display: block;
  height: 360px;
  background-color: #000;
  border: 1px solid #7dd7f4;
  border-radius: 5px;
}
.wrapper .register .wnd input {
  font-size: 24px;
  padding: 11px;
  color: #fff;
  background: url(../img/input-bg.jpg);
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
  border: none;
}
.wrapper .register .wnd input::-webkit-input-placeholder {
  color: #fff;
}
.wrapper .register .wnd input::-moz-placeholder {
  color: #fff;
}
.wrapper .register .wnd input:-moz-placeholder {
  color: #fff;
}
.wrapper .register .wnd input:-ms-input-placeholder {
  color: #fff;
}
.wrapper .register .wnd .name {
  margin-bottom: 29px;
}
.wrapper .register .wnd .passw {
  margin-bottom: 19px;
}
.wrapper .register .wnd a {
  color: #c51f03;
  margin-left: 20px;
}
.wrapper .register .wnd a:hover,
.wrapper .register .wnd a:focus {
  text-decoration: none;
}
.wrapper .register .wnd .checkbox {
  color: #6f6d6d;
  margin: 55px 0 0 20px;
  margin-top: 55px;
}
.wrapper .register .wnd .ribbon {
  position: absolute;
  right: -13px;
  bottom: 50px;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#8f0b01), color-stop(#c41f03), to(#8f0b01));
  background: linear-gradient(to right, #8f0b01, #c41f03, #8f0b01);
  text-align: center;
  width: 141px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.wrapper .register .wnd .ribbon-link {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  margin: 0;
}
.wrapper .register .wnd .ribbon::after {
  content: '';
  position: absolute;
  left: 128px;
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid #c62003;
  border-left: 7px solid #c62003;
  z-index: -1;
}
.form-control {
  height: 56px;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #03a6dc;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  border-bottom-color: transparent;
}
.nav-tabs > li > a {
  background-color: #fff;
  font-size: 24px;
  height: 34px;
  padding: 1px 10px;
  color: #080808;
}
.page1 {
  margin-left: 27px;
}
.page2 {
  margin-left: 9px;
}
@media screen and (max-width: 370px) {
  .wrapper {
    width: 300px;
  }
  .wrapper .register {
    padding: 22px 10px;
  }
  .wrapper .register .wnd {
    padding: 20px;
  }
}
@media (min-width: 371px) and (max-width: 767px) {
  .wrapper {
    width: 70%;
  }
  .wrapper .register {
    padding: 22px 10px;
  }
  .wrapper .register .wnd {
    padding: 20px;
  }
}
