@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow');
body {
  font-family: "Oswald", sans-serif;
}
.block {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_header {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#f4a124), to(#f8c14c));
  background: linear-gradient(0, #f4a124, #f8c14c);
}
.menu {
  min-height: 82px;
  background-color: #505050;
}
.menu ul {
  list-style-type: none;
  margin: 0;
}
.menu ul li {
  display: inline-block;
  margin-right: 30px;
  padding: 28px 0;
}
.menu ul li a {
  color: #f4a124;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
}
.hd2 {
  background-color: #fbd59c;
  border: 3px solid #ffffff;
  min-height: 85px;
}
.hd2 h1 {
  line-height: 85px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}
.item {
  margin-top: 30px;
  display: inline-block;
  height: 74px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(51, 51, 51, 0.09);
          box-shadow: 0px 0px 4px 1px rgba(51, 51, 51, 0.09);
  margin-right: 7px;
  width: 243px;
}
.item .img_div {
  padding: 0;
  width: 104px;
}
.item .description {
  background-color: #e5e5e5;
  height: 74px;
  border-left: 1px dotted #c2c2c2;
  width: 139px;
  padding: 0;
  display: table;
  padding-left: 20px;
}
.item .description p {
  text-decoration: underline;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
}
.item .description:hover {
  cursor: pointer;
}
