body {
  background-color: #eee;
}
.frame {
  display: block;
  margin: 20px auto;
  width: 600px;
  height: 350px;
}
@media screen and (max-width: 768px) {
  .frame {
    width: 358px;
  }
}
/* iPhone 5s */
@media screen and (max-width: 330px) {
  .frame {
    width: 326px;
  }
}
